*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}



.navbar{
    height: 30px;
    width: 100vw;
    background-color: black;
    color: white;
    position: fixed;
    margin: 0;
    padding: 5px 5px;
}

input{
    border-radius: 5px;
}

a{
    color: white;
    text-decoration: none;
    margin-right: 250px;
}

h1{
    text-align: center;
    font-size: 70px;
    padding-top: 40px;
}

p{
    text-align: center;
    font-size: 25px;
}

img{
    height: 300px;
    width: 300px;
    background-size: cover;
    margin-right: 10px;
    border-radius: 20px;
    object-fit: cover;

}

#first{
    position: static;
    margin-top: 80px;
    margin-left: 130px;
    margin-right: 130px;
}

#second{
    position: static;
    margin-top: 10px;
    margin-left: 130px;
    margin-right: 130px;
    padding-bottom: 70px;
}

#button{
    height: 50px;
    width: 140px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 15px;
    border-radius: 15px;
    position: absolute;
    right: 45vw;
    font-size: 18px;
    z-index: -1;
}
